body {
    background-image: url(https://starwalk.space/gallery/images/what-is-space/1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    display: inline-block;
}
hr {
    color: red;
    width: 700px;
}

input[type="button"] {
    width: 100px;
    height: 30px;
    background-color: bisque;
    color: black
}

input[id = "button2"] {
    width : 100px;
    height : 30px;
    background-color :silver
}

label[id = "male"] {
    color : royalblue
}

labelt[id = "female"] {
    color : pink
}

#center {
    width: 800px;
    margin: auto;
    background-color: ivory;
}

hr{
    color : red;
    width : 650px
}